html
  head
    title Dungeon Crawler
    script(type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js")
    script(type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js")
    link(rel="stylesheet" href="index.css")
  body
    h1.title Dungeon Crawler
    div#reactRoot
    script(type="application/javascript" src="index.js")
